<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="Base_SAP" value ="HDV_P03"/>
    <add key="String_SAP" value ="data source=172.30.126.230;initial catalog=HDV_P03;user id=sa;password=SAPB1Admin;"/>
    <add key="UsuarioManager" value ="manager"/>
    <add key="ClaveManager" value ="Hdv2017."/>
    <add key="WhsCode" value ="SILOP001"/>

    <add key="Balanza_Puerto" value ="COM1"/>
    <add key="Balanza_Baudios" value ="1200"/>
    <add key="Balanza_Paridad" value ="ninguno"/>
    <add key="Balanza_BitsDatos" value ="8"/>
    <add key="Balanza_BitsParada" value ="1"/>

  </appSettings>
  
</configuration>