<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Base_SAP" value="HDV_P03" />
    <add key="Servidor_SAP" value="HDV-SAP-00" />
    <add key="VersionSQL_SAP" value="2014" />
    <add key="String_SAP" value="data source=172.30.126.230;initial catalog=HDV_P03;user id=sa;password=SAPB1Admin;" />
    <add key="Balanza_Puerto" value="COM1" />
    <add key="Balanza_Baudios" value="1200" />
    <add key="Balanza_Paridad" value="ninguno" />
    <add key="Balanza_BitsDatos" value="8" />
    <add key="Balanza_BitsParada" value="1" />
    <add key="Balanza2_Puerto" value="COM2" />
    <add key="Balanza2_Baudios" value="1200" />
    <add key="Balanza2_Paridad" value="ninguno" />
    <add key="Balanza2_BitsDatos" value="8" />
    <add key="Balanza2_BitsParada" value="1" />
    <add key="Print_Etiquetado" value="\\scl-hdv-disp9\ZDesigner GK420t" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>