*{
  box-sizing: border-box;
}

body{
  background:#ffffff;
  font-family:'Cuprum', sans-serif;
  font-size: 12px;
}

.contenedor {
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);

    grid-template-areas: "contenido  sidebar"
                         "desc1      desc2"; 
}

.contenedor > div,
.contenedor .contenido,
.contenedor .sidebar{
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.contenedor .contenido {
    border-radius:5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: contenido;
}

.contenedor .sidebar{
    border-radius:5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: sidebar;
}

.contenedor .sidebar img{
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 100px;
  padding: 5px;
  width: 150px;
}

.contenedor .contenido img{
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 100px;
  padding: 5px;
  width: 150px;
}

div.contenido desc1{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: desc1;

}

div.contenido desc2{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: desc2;
}

.navbar-inverse {
  background-color: #4176f4 !important;
}

 .navbar-inverse .navbar-text {
    color: #fff !important;
}

 .navbar-text {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
    margin-left: 7px !important;
}
  /* latin-ext */
@font-face {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Cuprum/Cuprum-Regular.ttf) format("truetype");

}

@media screen and (max-width: 410px) {
    
    .contenedor{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:  "contenido"
                          "desc1"
                          "sidebar"
                          "desc2"; 
    }

}