*{
  box-sizing: border-box;
}

body {
  background:#ffffff;
  font-family:'Cuprum', sans-serif;
  font-size: 12px;
}

img {
    width: 20px;
    height: 23px;
    padding: 5px;
    border: 1px solid green;
    float: right;
    overflow: auto;
}

.container {
    border-radius:5px;
    border: 3px solid #3754b4;
    background-color: #ccd9e3;
    margin: auto;
    width: 100%;
    height:auto;
    padding: 10px;
    overflow:hidden;
}
 
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
 
.stock label{
    width:380px;
  }


.navbar-inverse {
  background-color: #4176f4 !important;
}

 .navbar-inverse .navbar-text {
    color: #fff !important;
}

 .navbar-text {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
    margin-left: 7px !important;
}

   /* latin-ext */
@font-face {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Cuprum/Cuprum-Regular.ttf) format("truetype");

}

 @media screen and (max-width: 375px) {
  .stock label{

    width: 80px;
    margin-top: 0;
  }
}