*{
  box-sizing: border-box;
}

body {
  background:#ffffff;
  font-family:'Cuprum', sans-serif;
  font-size: 12px;
}

img {
    width: 20px;
    height: 23px;
    padding: 5px;
    border: 1px solid green;
    float: right;
    overflow: auto;
}

.container {
    border-radius:5px;
    border: 3px solid #3754b4;
    background-color: #b3f36a;
    margin: auto;
    width: 100%;
    height:auto;
    padding: 10px;
    overflow:hidden;
}
 
.stock label{

     width:380px;
 
 }

 @media screen and (max-width: 375px) {
  .stock label{

    width: 325px;
    margin-top: 0;
  }

}

   /* latin-ext */
@font-face {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Cuprum/Cuprum-Regular.ttf) format("truetype");

}